h1{
    text-align: center;
    color:blue;
   

    
}

img{
    align-items:center;
    padding-left:100px;
    width: 500px;
    height: 400px;
}

h2{
    text-align: center;
    color:saddlebrown
   
}
h3,p{
    text-align:center;
    
}
.first{
    display: flex;
   
}
.have{
    display:block;
    padding: 20px;
    
}