h1{
    text-align: center;
    color :saddlebrown;
   

    
}
.third a{
    display:inline;
    font-size:25px;
    margin: 0 5px;
    text-align: center;
 }
 .third{
     text-align:center;
 }

img{
    align-items:center;
    padding-left:100px;
    width: 500px;
    height: 400px;
}

h2{
    text-align: center;
    color:saddlebrown
   
}
h3,p{
    text-align:center;
    
}
.first{
    display: flex;
   
}
.have{
    display:block;
    padding: 20px;
    
}

nav {
    text-align: center;

}
    
a{
    text-decoration: none;
    padding:10px;
    font-size:20px;
}

body{
    background-color:lightslategray;
}
.young{
    display: flex;
}